:root {
  --text-color: white;
  --background-primary: #161616;
}

* {
  font-family: Montserrat;
  color: var(--text-color);
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

input {
  color: var(--background-primary);
}
body {
  background-color: var(--background-primary);
}

button {
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
}

.imageLogoDBA {
  width: 130px;
  height: 75px;
}

.recherche {
  display: flex;
  align-items: center;
  width: 70%;
  height: 40px;
  margin-top: 20px;
  margin-left: 50px;
  background-color: #413e3e;
  border-radius: 30px;
}
input {
  outline: none;
  width: 100%;
  height: 25px;
  background-color: #413e3e;
  border: 0;
  border-radius: 30px;
  color: var(--text-color);
}

input::placeholder {
  color: #686767;
}

.btnRechercher {
  width: 20px;
  height: 20px;
  margin: 20px;
  background-color: transparent;
  background-image: url("./assets/images/SearchImg.svg");
  background-repeat: no-repeat;
  border: 0;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
nav {
  width: 15%;
  height: 500px;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100%;
  margin-top: 50px;
}

#btnSuivant {
  width: 100px;
  height: 50px;
  background-color: transparent;
  border: 0;
}

#games-container {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}

#btn-container {
  display: flex;
  justify-content: right;
  width: 90%;
}

.game-card {
  width: 20%;
  height: 300px;
  background-color: #2f2c2c;
  border-radius: 30px;
  cursor: pointer;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  height: 50%;
}

.game-card img {
  width: 100%;
  height: 120px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.game-card p {
  font-size: 13px;
}

nav a {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
}

.links-Hot {
  margin-top: 30px;
  font-size: 20px;
}

.links-Grey {
  margin-top: 20px;
  font-size: 15px;
  color: #aaa8a8;
}

.modal {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background-color: #2f2c2c;
  border-radius: 8px;
  color: var(--text-color);
}

.genres-container {
  overflow-y: auto;
  height: 62%;
  gap: 0.6rem;
}

.platforms-container {
  overflow-y: auto;
  height: 62%;
  gap: 0.6rem;
}

.modal.open {
  display: block;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-close {
  cursor: pointer;
  font-size: 1.5rem;
}

.carousel {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.carousel img {
  width: 100%;
  max-width: 200px;
  border-radius: 5px;
}

.reviews {
  display: flex;
  justify-content: space-around;
}

.loader-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #fff #fff transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent #686767 #686767;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
